target/
!.mvn/wrapper/maven-wrapper.jar
/dev-script/
!**/src/main/resources/*.properties
!**/src/test/resources/*.properties
/bin/
/tmp/
*.class
*.log
*.gz
*.swp
.DS_Store
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.nb-configuration.xml
.nbworkingdir/
.nb-gradle/
build/
node_modules/
dist/
